/* General body and layout settings */
body {
    font-family: 'Consolas', 'Monaco', 'Lucida Console', Lato, sans-serif;
    background-color: #1e1e1e;
    color: #d4d4d4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header and Title styles */
header {
    position: fixed; /* This makes the header fixed at the top */
    top: 0; /* Aligns the header to the top */
    left: 0; /* Aligns the header to the left */
    width: 100%; /* Ensures the header spans the full width of the page */
    background-color: #1e1e1e; /* Same as your body background for consistency */
    color: #d4d4d4; /* Light color for the text to stand out */
    text-align: center;
    padding: 20px 0;
    z-index: 1000; /* Ensures the header is above other content */
}

h4 {
    margin: 0;
    padding: 0;
}



/* Title styles */
.title {
    color: #d4d4d4; /* Light color for visibility */
    background-color: #1e1e1e; /* Background color matching the theme */
    text-align: center;
    padding: 10px 0; /* Some padding around the title */
    font-size: 1.5em; /* Making the title a bit larger */
}

/* Ensure the main content is pushed down so the title is not hidden by the fixed sidebar */
.main-content {
    padding-top: 50px; /* Adjust this value based on the actual height of your title bar */
}


/* Sidebar styles */
.sidebar {
    width: 200px;
    background-color: #252526; /* Dark grey background */
    color: #d4d4d4; /* Light color text for visibility */
    height: 100vh;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    position: fixed; /* Ensures sidebar stays in place */
    left: 0; /* Aligns sidebar to the left edge */
    top: 10; /* Aligns sidebar to the top */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Resets default margin */
}

.sidebar ul li a {
    color: #ccc; /* Ensures links are visible */
    text-decoration: none;
    display: block;
    padding: 8px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #007acc; /* Highlight color on hover */
}


/* Main content area */
.main {
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
}

/* Editor and code display styles */
.editor {
    background-color: #1e1e1e;
    border: 1px solid #3c3c3c;
    padding: 5px;
    border-radius: 5px;
}

.editor-toolbar {
    background-color: #333;
    padding: 5px;
    margin-bottom: 10px;
}

/* Ensure margins and centering */
.vscode {
    padding-top: 30px; /* This value should be at least the height of your header */
    display: flex;
    height: 100vh;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        margin-top: 80px; /* This should match the header's height to prevent overlap */
    }

    .main {
        padding: 10px;
    }

    .vscode {
        flex-direction: column;
    }
}
